html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
}

main {
    margin: 1em auto;
    max-width: 38em;
}

section {
    margin: 1em;
    max-width: 100%;
    overflow: auto;
}

#expiry {
    display: grid;
    grid-template-columns: repeat(6, auto);
    column-gap: 0.5em;
    row-gap: 0.5em;
}

#wrapper {
    background-color: #fff;
    color: #000;
    display: inline-block;
    border: 1px solid #333;
    font-family: Arial, sans-serif;
    line-height: normal;
    transform-origin: top left;
}

#wrapper>* {
    overflow: hidden;
}

#wrapper * {
    color: #000;
}

#wrapper div.single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

#wrapper div.multi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

#wrapper div.top {
    justify-content: flex-start;
}

#wrapper div.left {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

#wrapper div.right {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}
