#scalefix {
    width: 100%;
    height: 500px;
    overflow: auto;
    margin-bottom: 1em;
}

#wrapper {
    background-color: #fff;
    color: #000;
    display: inline-block;
    border: 1px solid #333;
    font-family: Arial, sans-serif;
    line-height: normal;
    transform: scale(0.33);
    transform-origin: top right;
    float: right;
}

#wrapper * {
    color: #000;
}

#wrapper div.single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

#wrapper div.multi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

#wrapper div.top {
    justify-content: flex-start;
}

#wrapper div.left {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
