<html>
<head>
    <title>Label Printer</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='sakura.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" type="text/css"/>
<body>

<form>
    <label for="sel-label">Label:
        <select id="sel-label" name="labels">
            {% for label in labels %}
                <option>{{ label }}</option>
            {% endfor %}
        </select>
    </label>
</form>

<div id="scalefix">
    <div id="wrapper">
        Loading template...
    </div>
</div>

<form id="form">

</form>


<button id="btn">Print</button>


<script src="{{ url_for('static', filename='dom-to-image.min.js') }}"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>